* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.boton {
    height: 40px;
    width: 100%;
    max-width: 320px;
    background-color: $bgfooter;
    color: $fuenteHover;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #958b8b;
    margin: 2% 0;
    cursor: pointer;
}

.boton:hover {
    background-color: #20966f;
    box-shadow: none;
}

.line {
    width: 100%;
    margin: 0 auto;
    height: 5px;
    background: #004848;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 50%;
}

.margenes {
    margin: 50px 100px;
}

.box_center {
    display: flex;
    justify-content: center;
}

.box_centrado {
    @extend .margenes;
    @extend .box_center;
}

.imagenes__interactivas {
    width: 400px;
    height: 300px;
    margin-top: 15px;
    overflow: hidden;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 2px 2px 3px rgb(123, 123, 123);
}

._paralax_ {
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.a {
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    color: $bgfooter;
    font-weight: bolder;
}