nav {
    ul {
        li {
            display: inline-block;
            align-items: center;
            width: 180px;
            height: 40px;
            padding: 5px;
            background-color: #ffffff;
            text-align: center;
            list-style: none;

            a {
                @extend .a;
            }
        }
    }
}

nav {
    ul {
        li:hover {
            background-color: $bgfooter;
            border-radius: 8px;

            a:hover {
                color: #faf4f4;
            }
        }
    }
}

.marca,
.nav {
    display: flex;
    justify-content: center;
    padding: 2%;

    img {
        width: 450px;
    }
}
